/* *{
  overflow-x: hidden;
} */

.navbar-absolute {
    background-color: white;
  }
  
  .table-bordered {
    border: 2px solid #49bcc4;
  
  }
  .fa-arrow-circle-right{
  color : #49bcc4}
  
  td{
    text-align: center;
  }
  .fa-edit{
    color:#49bcc4
  }
  .fa-trash{
    color: #49bcc4;
    margin-right: 20px;
  }
  
  
  th{
      border: 2px solid #49bcc4;
      border-bottom: 2px solid #49bcc4;
      text-align: center;
      color: #49bcc4;
      font-family: Arabic;
  
  
  
  }
  td{
      border: 2px solid #49bcc4;
      border-bottom: 2px solid #49bcc4;
       border-top: 3px solid transparent;
  
  }
  .titlePage{
      color: #49bcc4 !important;
      font-family: Arabic;
  }
  .fa-plus-circle:before {
      content: "\f055";
      margin-left: 5px;
  }
  
  .input100 {
      font-family: Arabic;
      font-size: 15px;
      line-height: 1.2;
      color: #49bcc4;
      height: 40px;
      display: block;
      background: white;
      border-radius: 25px;
      border-top-color: #49bcc4 !important;
      border: 2px solid #49bcc4;
      padding: 0 30px 0 53px;
      }
      .symbol-input100 {
          font-size: 15px;
          color: #49bcc4 !important;
          
          display: -webkit-box;
          display: -webkit-flex;
          display: -moz-box;
          display: -ms-flexbox;
          display: flex;
          align-items: center;
          position: absolute;
          border-radius: 25px;
          direction: ltr;
          width: 21%;
          bottom: 0;
          height: 100%;
          pointer-events: none;
          
          -webkit-transition: all 0.4s;
          -o-transition: all 0.4s;
          -moz-transition: all 0.4s;
          transition: all 0.4s;
          }
          
          ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: #49bcc4 !important;
              opacity: 1; /* Firefox */
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: #49bcc4 !important;
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
              color: #49bcc4 !important;
            }
  
            .Title{
              margin-top: 4px;
             padding-left: 20%;
            }
            li{
           color: #49bcc4;
           cursor: pointer;
            }
          
            h5{
              color: #49bcc4;
              font-size: 20px;
              font-family: Arabic;
            }
            .activeNumber{
              color: #0a3f42;
            }
  
  
            .modal-header {
              display: -webkit-box;
              display: flex;
              -webkit-box-align: start;
              align-items: flex-start;
              -webkit-box-pack: justify;
              justify-content: space-between;
              padding: 1rem 1rem;
              border-bottom: 1px solid #dee2e6;
              border-top-left-radius: 0.3rem;
              border-top-right-radius: 0.3rem;
              background-color: #49bcc4;
              justify-content: center;
              color: white;
              }
              
              .modal-body {
              position: relative;
              -webkit-box-flex: 1;
              flex: 1 1 auto;
              padding: 1rem;
              background-color: #e4dfdf7a;
              }
              .modal-content {
              box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.5);
              border: 1px solid;
              padding: 10px;
              box-shadow: 5px 10px #49bcc4;
              }
              .titleheader{
                color: white !important;
                font-family: Arabic;
              }
              .fa-close{
  margin-right: -20px;
  color: white !important;
              }
  
              .form-control{
                border: 1px solid #49bcc4;
                color: #49bcc4;
                font-weight: 200;
                border-radius: 7px;
                text-indent:10px;
              }
              label {
                font-weight: 500;
                display: block;
                margin: 4px 0;
                text-transform: uppercase;
                font-size: 15px;
                overflow: hidden;
                direction: rtl;
                float: right;
                color: #49bcc4 !important;
              }
                span {
                  float: right;
                  text-transform: none;
                  font-weight: 200;
                  line-height: 1em;
                  font-style: italic;
                  opacity: 0.8;
                }
              
              .btn-primary{
                background-color: #49bcc4;
  
              }
             ::ng-deep .cdk-overlay-container {
              position: fixed !important;
              z-index: 1000000000 !important;
              margin-top: 35px !important;
             }

              @media screen and (max-width: 992px){
               #navigation{
                margin: 0 auto;
               }
          }
          .mytv{color:#49bcc4;}
          @media screen and (min-width: 768px){
            .mytv{
             margin-right: 20px;
            }
       }
       ::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline{display: none;}
       ::ng-deep .mat-checkbox-layout{columns: #49bcc4;}
       ::ng-deep .mat-datepicker-toggle, .mat-datepicker-content .mat-calendar-next-button, .mat-datepicker-content .mat-calendar-previous-button{
        position: relative;
        font-size: 22px;
        color: #49bcc4;
        left: 100%;
        /* top: 114%; */
    }
    .table{
      margin-right: 25px;
      margin-left: 25px;

    }
    .table .thead-dark th{
      background-color:#49bcc4;
      border-color:#49bcc4;
    }
    @media screen and (max-width:992px) {
      .table .thead-dark th{
        display: block ;
        margin-bottom: 20px;
      }
      
    }
    .pagination{
        padding-right: 0;
       margin:0 auto;
       justify-content: center;
       font-size: 22px;
    }
    .table{
      margin: 0;
    }
   
    ::ng-deep .chooselang .mat-form-field-appearance-legacy .mat-form-field-infix{
      border:1px solid #49bcc4 !important;
      border-radius: 10px;
    }
    ::ng-deep .chooselang ::placeholder
    {
      font-size:18px !important;
    }

    ::ng-deep .chooselang .mat-form-field
    {
      font-size:16px !important;
    }
    /* .mat-form-field  */
    .form-group{
      margin: 0;
    }
.myeditrow{
 margin-top: 30px;
}
::ng-deep .mat-form-field-label-wrapper
{
font-size:21px;
padding-bottom: 10px;
}
::ng-deep .myprogram input{
width: 100%;
}
