/* You can add global styles to this file, and also import other style files */

@font-face {
    font-family: Arabic;
    src: url("../assets/fonts/ArbFONTS-GE_SS_Two_Bold.otf");
  }
  @font-face {
    font-family: NoirStd;
    src: url("../assets/fonts/NoirStd-Regular.ttf");
  }
  .loading{
    font-family: Arabic;
    color: white;
  }
 
 
  
 